<div class="jumbotron">
  <h1>Quote Entry</h1>
  <div [hidden]="!submitted">
  <form (ngSubmit)="onSubmit()" #quoteForm="ngForm">
    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" id="name" required
      [(ngModel)]="formQuote.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Your Full Name Is Required
      </div>
    </div>
    <div class="form-group">
      <label for="author">Enter The Author Of The Quote</label>
      <input type="text" class="form-control" id="author" required
      [(ngModel)]="formQuote.author" name="author" #author="ngModel">
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger"> The Author Is Required
      </div>
    </div>
    <div class="form-group">
      <label for="quote">Enter The Quote</label>
      <textarea class="form-control" id="quote" name="quote" rows="3" cols="80" type="text" class="form-control" id="quote" required
      [(ngModel)]="formQuote.quote" name="quote" #quote="ngModel"></textarea>
      <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger"> The Quote Is Required
      </div>
    </div>
    <button type="submit" class="btn btn-success" >Submit</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </form>
</div>
<button  type="button" class="btn btn-default" (click)="newQuote()" (click)="submitted=true">New Quote</button>
</div>


<div [hidden]="!submitted">
<ul *ngFor='let quote of quotes'>
    <li>
      <p><strong>Name: </strong>{{quote.name}}</p>
      <p><strong>Author: </strong>{{quote.author}}</p>
      <p><strong>Quote: </strong>{{quote.quote}}</p>
      <button class="btn btn-primary" (click)="submitted=true" (click)="updateQuoteById(quote.id)">Edit</button>
        <button type="button" name="button" (click)="deleteQuote(true)" class="btn btn-danger">delete</button>
      <like-box></like-box>
    </li>
</ul>
</div>
